<div class="row ">
    <div class="col-xs-offset-1 col-xxs-offset-1 col-xs-11 col-xxs-offset-11 container-fluid">
        <h3 id="menu-toggle">Menu</h3>
        <ul id="menu">
            <li><a href="demandas.html" style="color: #848484 !important;"><h4>Projetos</h4> </a>
            </li>
            <li><a href="novoProjeto.html" style="color: #848484 !important;"> <h4>Cadastrar novo projeto</h4></a></li>
            <li><a href="analistas.html" style="color: #848484 !important;"> <h4>Analistas</h4></a></li>
            <li><a href="desempenho.html" style="color: #848484 !important;"> <h4>Desempenho</h4></a></li>
            <li><a href="index.html" style="color: #848484 !important;"> <h4>Sair</h4></a></li>
        </ul>
    </div>
</div>