<div id="wrapper" class="toggled">

    <div id="sidebar-wrapper" class='invisible-xs invisible-xxs'>
        <ul class="sidebar-nav">
            <li class="sidebar-brand  pdd-15-md-t pdd-15-lg-t pdd-15-xlg-t pdd-30-md-b pdd-30-lg-b pdd-30-xlg-b">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-11 col-lg-11 col-lg-offset-1 col-md-offset-1 pdd-15-md-t pdd-15-lg-t">
                            <div class="col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2 pdd-15-md-b pdd-15-lg-b">
                                <img src="./images/perfil.jpg" class="img-responsive img-circle" alt="">
                            </div>
                            <h4 class="text-white text-bold text-left">Fernando Pessoa</h4>
                            <!-- <h5 class="text-white text-left ">Fullstack Developer</h5> -->
                            <a href="#"><h6 class="text-white text-left"><i class='fa fa-edit'></i> Editar perfil</h6></a>
                            <!-- <a href="#"><h6 class="text-white text-left"><i class='fa fa-sign-out-alt'></i> Sair</h6></a> -->
                        </div>
                    </div>
                </div>
            </li>
            <li class="pdd-10-md-t pdd-10-lg-t">
                <h6 class="text-primary">HOME</h6>
            </li>
            <div class="menu">
                <li class="pdd-30-md-t pdd-30-lg-t">
                    <a href="demandas.html" class="text-white"><i class="fas fa-tasks text-white pdd-15-lg-r" aria-hidden="true"
                            style="display:inline"></i>
                        Demandas</a>
                </li>
                <li>
                    <a href="desempenho.html" class="text-white"> <i class="fas fa-chart-line text-white pdd-15-lg-r" aria-hidden="true"
                            style="display:inline"></i>
                        Desempenho</a>
                </li>
            </div>
        </ul>
        <div class="pdd-50-lg-t">
            <div class="pdd-500-lg-t">
                <div class="col-md-9 col-lg-9 col-lg-offset-1">
                    <img class="img-responsive" src="./images/logo_2.png">
                </div>
            </div>
        </div>
    </div>
<!-- content -->
</div>